/.vscode
/Academic_Coach_30_11_2023.pdf
/Bannerclick
/desktop.ini
/First Coach meeting.pptx
/KPMG.lnk
/OpenWPM
/Thesis meeting.pptx
/Thesis_Chapter_1__2_and_start_3 - Rogier Fransen - Gilian.pdf
/Thesis_Proposal_05_03_2024_Rogier_Fransen.pdf
/Whotracksme
/Output/frames
/Output/workspaces
/Output/Website info

/data/reproducibility
/data/Whotracksme/de/companies.csv
/data/Whotracksme/de/domains.csv
/data/Whotracksme/de/sites_trackers.csv
/data/Whotracksme/de/trackers.csv

/data/Whotracksme/eu/companies.csv
/data/Whotracksme/eu/domains.csv
/data/Whotracksme/eu/sites_trackers.csv
/data/Whotracksme/eu/trackers.csv

/data/Whotracksme/global/companies.csv
/data/Whotracksme/global/domains.csv
/data/Whotracksme/global/sites_trackers.csv
/data/Whotracksme/global/trackers.csv

/data/Whotracksme/us/companies.csv
/data/Whotracksme/us/domains.csv
/data/Whotracksme/us/sites_trackers.csv
/data/Whotracksme/us/trackers.csv

/data/Whotracksme/fr/companies.csv
/data/Whotracksme/fr/domains.csv
/data/Whotracksme/fr/sites_trackers.csv
/data/Whotracksme/fr/trackers.csv

